module.exports = {
  pathInArr: function (path, arr) {
    var index = -1;
    for (var i = 0; i < arr.length; i++) {
      if (arr[i] && arr[i].base_url === path) {
        index = i;
        break;
      }
    }
    return index >= 0;
  },

  idInArr: function (id, arr) {
    var index = -1;
    for (var i = 0; i < arr.length; i++) {
      if (arr[i] == id) {
        index = i;
        break;
      }
    }
    return index >= 0;
  },

  idInStr: function (id, str) {
    var arr = str ? str.split(",") : [];
    var index = -1;
    for (var i = 0; i < arr.length; i++) {
      if (arr[i] == id) {
        index = i;
        break;
      }
    }
    return index >= 0;
  },

  splitToArr: function (str) {
    return str ? str.split(",") : [];
  },

  JsonString: function (obj) {
    return JSON.stringify(obj);
  },

  sliceArr: function (arr, i, j) {
    return arr.slice(i, j);
  }
};